@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Inter&display=swap');

$color-lightest: #E1F2F6;
$color-medium: #43B4D8;
$color-dark: #146396;
$color-darkest: #133857;
$font-main: 'Fjalla One', sans-serif;

$fontsize-largest: 3em;
$fontsize-large: 1.7em;
$fontsize-medium: 1.5em;
$fontsize-small: 1.3em;
$fontsize-smallest: 1em;

$padding-consistent: 1em;
$padding-half: calc($padding-consistent / 2);

$rounded-edge-radius: 0.2em;

$color-background-light: #f0f0f0;
$color-background-medium: #2a2f3b;
$color-background-dark: #232733;

@mixin custom-button-basics {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;

    button:focus {
        outline: none;
    }
}

@mixin button-basics {
    font-family: $font-main;
    display: inline-block;
    outline: none;
    cursor: pointer;
    border-radius: $rounded-edge-radius;
    font-size: $fontsize-small;
    border: none;
}

@mixin rounded-rectangle-button-primary {
    padding: 2px 16px;
    height: 38px;
    min-width: 96px;
    min-height: 38px;
    color: $color-lightest;
    background-color: $color-dark;
    transition: background-color .17s ease,color .17s ease;
    &:hover {
        background-color: #0f486e;
    }
}

@mixin tag-basics {
    display: inline-block;
    border-radius: 20px;
    font-size: $fontsize-smallest;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: $font-main;
}

body, html {
    height: 100%;
    margin: 0;
    overflow: hidden;

    #header {

        .LogoHeading {
            color: $color-lightest;
            font-family: $font-main;
            font-size: $fontsize-largest;
        }

        .basicButton {
            @include button-basics;
            @include rounded-rectangle-button-primary();
        }

        gap: $padding-consistent;
        width: 100%;
        background-color: $color-darkest;
        height: 4em;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        padding-left: $padding-consistent;
        padding-top: calc($padding-consistent / 2);
        padding-bottom: calc($padding-consistent / 2);
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }

    @mixin input-basics {
        font-family: $font-main;
        font-size: $fontsize-medium;
        line-height: 1.5;
        color: #212529;
        background-color: white;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        appearance: none;
        border-radius: $rounded-edge-radius;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        text-transform: uppercase;
        :focus{
            color: #212529;
            background-color: #fff;
            border-color: $color-dark;
            outline: 0;
            box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
        }
    }

    #mainListArea {
        display: flex;
        height: 100vh;

        #ideasList {
            background-color: $color-background-medium;
            width: 50%;
            height: 100%;
            max-width: 50%vw;

            #filter {
                padding-top: $padding-consistent;
                padding-bottom: calc($padding-consistent / 2);
                background-color: $color-background-light;

                .Tags {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    flex-wrap: wrap;
                    padding-right: $padding-consistent;

                    .selectedTag {
                        @include tag-basics();
            
                        background-color: $color-dark;
                        color: $color-lightest;
                        border: 2px solid transparent;
                    }
                    
                    .deselectedTag {

                        @include tag-basics();

                        background-color: transparent;
                        color: #272c3480;
                        border: 2px solid #272c3455;
                    }
                }
            }

            #idea-section {

                #add-idea {
                    background-color: $color-background-light;
                    gap: $padding-consistent;
                    padding: $padding-consistent;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: flex-end;
                    align-items: flex-start;
                    margin-bottom: $padding-consistent;
                    max-width: 50%vh;

                    input {
                        @include input-basics();
                    }

                    textarea {
                        @include input-basics();
                        height: 3em;
                    }

                    .basicButton {
                        @include button-basics();
                        @include rounded-rectangle-button-primary();
                    }
                }
                
                .IdeasContainer {

                    padding-right: $padding-consistent;

                    .idea {
                        display: grid;
                        grid-template-columns: 2.5fr 1fr 0.2fr;
                        align-items: center;
                        grid-auto-rows: 2.4em;
                        justify-items: end;

                        .DeleteButton {
                            @include custom-button-basics();
                            border-radius: 50%;
                            padding: 0.5em;
                            width: 30px;
                            height: 30px;
                            border: 2px solid $color-lightest;
                            color: $color-lightest;
                            position: relative;

                            .DeleteButton::before {
                                content: " ";
                                position: absolute;
                                display: block;
                                background-color: $color-lightest;
                                width: 2px;
                                left: 12px;
                                top: 5px;
                                bottom: 5px;
                                transform: rotate(45deg);
                              }
                              .DeleteButton::after {
                                content: " ";
                                position: absolute;
                                display: block;
                                background-color: $color-lightest;
                                height: 2px;
                                top:12px;
                                left: 5px;
                                right: 5px;
                                transform: rotate(45deg);
                              }
                          }
                          .DeleteButton:hover {
                            background-color: $color-medium;
                          }
                        
                          h3 {
                            color: $color-lightest;
                            font-family: $font-main;
                            font-size: $fontsize-large;
                            font-weight: 1;
                        }

                        .blocky-arrow {
                            @include custom-button-basics();
                            width: 0; 
                            height: 0; 
                            border-top: 10px solid transparent;
                            border-bottom: 10px solid transparent;
                            border-left: 15px solid #E1F2F6;
                        }
                    }
                }
            }
        }
        
        #shortList {
            padding-left: $padding-consistent;
            background-color: $color-background-dark;
            width: 50%;
            height: 100%;

            #random-section {
                padding-top: $padding-consistent;
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 1em;
                justify-content: flex-start;
                justify-items: center;

                h3 {
                    font-size: $fontsize-small;
                }

                .random-button {
                    @include button-basics();
                    width: 1.5em;
                    height: 1.5em;
                    color: $color-background-dark;
                    &:hover {
                        background-color: rgb(208, 208, 229);
                    }
                }
            }

            h3 {
                color: $color-lightest;
                font-family: $font-main;
                font-size: $fontsize-largest;
                font-weight: 1;
                margin: 0.5em;
            }

            .shortlisted-idea {

                height: 3em;
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: $padding-consistent;

                button {
                    @include rounded-rectangle-button-primary();
                    @include button-basics();
                }

                h3 {
                    font-size: $fontsize-large;
                }

                .normal-heading {
                    
                }

                .glowing-heading {
                    animation: glow 1.5s ease-in-out infinite alternate;
                }
            }
        }
    }

    #knockedOutList {
        flex-grow: 1;
        width: 100%;
        background-color: #c0c0c0;
    }
}

@keyframes glow {
    from {
      text-shadow: 0 0 10px $color-lightest;
    }
    to {
      text-shadow: 0 0 25px rgba(255, 255, 255, 0.309), 0 0 10px $color-medium;
    }
  }


  
